:root{
  --bx-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
}
.main-bg{
  background: #f5f5f5;
}
.main{
  min-height: 100vh;
  padding-bottom: 6rem !important;
  overflow: hidden;
}
.avatar{
  border-radius: 50%;
  width: 40px; height: 40px;
}

.header-text{
  color: #303030;
}
.header-text .title{
  font-weight: 700;
}

.navigation{
  background-color: #f5f5f590;
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100%);
  /* transform: translateX(-50%); */
  padding: 1rem 1.5rem 1rem 1.5rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 100;
}
.navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navigation ul li .icon{
  position: relative;
  background: transparent;
  cursor: pointer;
  transition: .3s all;
  z-index: 5;
}
.navigation ul li .icon:before{
  content: '';
  width: 50px;
  height: 50px;
  background-color: #000;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: center center;
  z-index: -1;
  border-radius: 50px;
  transition: .3s all;
}
.navigation ul li .icon.active:before{
  border-radius: 12px;
  transform: translate(-50%, -50%) scale(1);
}

/* card product */
.card-product{
  width: 250px;
  padding: 1rem;
  background: #fff;
  border-radius: 16px;
  box-shadow: var(--bx-shadow);
}
.card-product img{
  width: 90%;
  height: 250px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.card-product .product-category{
  color: #868686;
  font-size: 1.2rem;
}
.card-product .product-title{
  color: #303030;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0.5rem;
}
.card-product .product-price{
  display: flex;
  align-items: center;
}
.card-product .product-price p{
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 6px;
}

/* search */
.search-input{
  flex: 1;
  vertical-align: middle;
  margin-right: 1rem;
  border-radius: 1rem;
  /* box-shadow: var(--bx-shadow); */
}
.search-input input{
  outline: none;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 1rem;
}
.search-button{
  width: 50px;
  height: 50px;
  background-color: #fdb135;
  border-radius: 1rem;
  /* box-shadow: var(--bx-shadow); */
}